<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeeLockView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A4DEC161C5B173B00A2515D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4DEC2A1C5B173B00A2515D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4DEC351C5B173B00A2515D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
